Repository nhkhanhyn0410/Te2_quikride: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "frontend/**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md}": [
    "prettier --write"
  ]
}

.
  MustBeRead.md
Due: prettier --write

feat(backend): complete Phase 1.2 - Backend Setup
  backend/README.md
  backend/src/config/cloudinary.js
  backend/src/config/email.js
  backend/src/config/payment.js
  backend/src/config/redis.js
  backend/src/middleware/error.middleware.js
  backend/src/server.js
  backend/src/utils/constants.js
  backend/src/utils/helpers.js
  backend/src/utils/logger.js
  backend/src/utils/validators.js
Due: eslint --fix, prettier --write

.
  .github/workflows/backend-ci.yml
Due: none

fix(ci): update cache-dependency-path for npm workspaces
  .github/workflows/backend-ci.yml
Due: none

.
  .gitignore
Due: none

fix(ci): add package-lock.json to version control
  .gitignore
  package-lock.json
Due: prettier --write

feat(phase-1.3): complete frontend setup with folder structure
  frontend/src/assets/README.md
  frontend/src/components/README.md
  frontend/src/hooks/README.md
  frontend/src/index.css
  frontend/src/pages/README.md
Due: prettier --write

.
  docs/PHASE_LOG.md
  docs/PROJECT_PHASES.md
Due: prettier --write

chore: remove GitHub Actions workflows
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-checker.yml
Due: none

feat(phase-1.4): implement authentication system
  backend/AUTHENTICATION.md
  backend/src/controllers/auth.controller.js
  backend/src/middleware/auth.middleware.js
  backend/src/middleware/validate.middleware.js
  backend/src/models/User.js
  backend/src/routes/auth.routes.js
  backend/src/server.js
  backend/src/services/auth.service.js
Due: eslint --fix, prettier --write

chore: remove Husky git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

.
  MustBeRead.md
  docs/MustBeRead.md
Due: prettier --write

feat(phase-1.5): implement User Management APIs and OAuth integration
  backend/src/controllers/auth.controller.js
  backend/src/controllers/user.controller.js
  backend/src/middleware/upload.middleware.js
  backend/src/models/User.js
  backend/src/routes/auth.routes.js
  backend/src/routes/user.routes.js
  backend/src/server.js
  backend/src/services/auth.service.js
  backend/src/services/user.service.js
Due: eslint --fix, prettier --write

.
  docs/GIT_WORKFLOW.md
Due: prettier --write

feat(phase-1.6): implement comprehensive security & compliance
  backend/.env.example
  backend/package.json
  backend/src/config/security.js
  backend/src/middleware/auth.middleware.js
  backend/src/middleware/csrf.middleware.js
  backend/src/middleware/security.middleware.js
  backend/src/routes/user.routes.js
  backend/src/server.js
Due: eslint --fix, prettier --write

chore: update package-lock.json after security packages installation
  package-lock.json
Due: prettier --write

feat(phase-1.7): setup comprehensive testing framework for backend and frontend
  backend/jest.config.js
  backend/tests/README.md
  backend/tests/setup.js
  backend/tests/unit/middleware/auth.middleware.test.js
  backend/tests/unit/services/auth.service.test.js
  frontend/package.json
  frontend/src/store/__tests__/authStore.test.js
  frontend/src/test/README.md
  frontend/src/test/setup.js
  package-lock.json
Due: eslint --fix, prettier --write

feat(phase-2.1): implement bus operator management system
  backend/src/controllers/admin.controller.js
  backend/src/controllers/operator.controller.js
  backend/src/models/BusOperator.js
  backend/src/models/README.md
  backend/src/routes/admin.routes.js
  backend/src/routes/operator.routes.js
  backend/src/server.js
  backend/src/services/operator.service.js
  backend/tests/unit/services/operator.service.test.js
Due: eslint --fix, prettier --write

feat(phase-2.2): implement route management system
  backend/src/controllers/route.controller.js
  backend/src/models/Route.js
  backend/src/routes/operator.routes.js
  backend/src/routes/route.routes.js
  backend/src/server.js
  backend/src/services/route.service.js
  backend/tests/unit/services/route.service.test.js
Due: eslint --fix, prettier --write

.
  docs/PROJECT_PHASES.md
Due: prettier --write

feat(phase-2.3): implement bus management system
  backend/src/controllers/bus.controller.js
  backend/src/models/Bus.js
  backend/src/routes/operator.routes.js
  backend/src/services/bus.service.js
  backend/tests/unit/services/bus.service.test.js
Due: eslint --fix, prettier --write

feat(phase-2.4): implement seat layout configuration utilities
  backend/src/controllers/bus.controller.js
  backend/src/routes/bus.routes.js
  backend/src/server.js
  backend/src/utils/seatLayout.js
  backend/src/utils/seatLayoutTemplates.js
  backend/tests/unit/utils/seatLayout.test.js
Due: eslint --fix, prettier --write

feat(phase-2.5): implement employee management system
  backend/public/test-seat-layout.html
  backend/src/controllers/employee.controller.js
  backend/src/models/Employee.js
  backend/src/routes/operator.routes.js
  backend/src/services/employee.service.js
  backend/tests/unit/services/employee.service.test.js
Due: eslint --fix, prettier --write

feat(phase-2.6): implement complete operator dashboard frontend
  frontend/src/App.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/operator/DashboardLayout.jsx
  frontend/src/components/operator/Header.jsx
  frontend/src/components/operator/SeatLayoutBuilder.jsx
  frontend/src/components/operator/Sidebar.jsx
  frontend/src/pages/auth/OperatorLoginPage.jsx
  frontend/src/pages/operator/BusesPage.jsx
  frontend/src/pages/operator/DashboardPage.jsx
  frontend/src/pages/operator/EmployeesPage.jsx
  frontend/src/pages/operator/RoutesPage.jsx
  frontend/src/services/api.js
  frontend/src/services/operatorApi.js
Due: eslint --fix, prettier --write

feat(phase-3.1): implement trip scheduling system
  backend/package.json
  backend/src/controllers/trip.controller.js
  backend/src/models/Trip.js
  backend/src/routes/operator.routes.js
  backend/src/routes/trip.routes.js
  backend/src/server.js
  backend/src/services/trip.service.js
  backend/tests/__mocks__/uuid.js
  backend/tests/unit/services/trip.service.test.js
  package-lock.json
Due: eslint --fix, prettier --write

feat(phase-3.2): implement advanced search & filter system
  backend/src/controllers/trip.controller.js
  backend/src/models/Trip.js
  backend/src/services/trip.service.js
  backend/tests/unit/services/trip.service.test.js
Due: eslint --fix, prettier --write

feat(phase-3.3): implement seat selection & booking system
  backend/PHASE_3.3_IMPLEMENTATION.md
  backend/src/controllers/booking.controller.js
  backend/src/middleware/auth.middleware.js
  backend/src/models/Booking.js
  backend/src/routes/booking.routes.js
  backend/src/server.js
  backend/src/services/booking.service.js
  backend/src/services/seat.service.js
  backend/src/services/websocket.service.js
Due: eslint --fix, prettier --write

feat(phase-3.3): implement seat selection with hold/lock mechanism
  backend/src/controllers/booking.controller.js
  backend/src/models/Booking.js
  backend/src/routes/booking.routes.js
  backend/src/routes/operator.routes.js
  backend/src/server.js
  backend/src/services/booking.service.js
  backend/src/services/seatLock.service.js
Due: eslint --fix, prettier --write

feat(phase-3.4): implement voucher/coupon system for booking discounts
  backend/src/controllers/booking.controller.js
  backend/src/controllers/voucher.controller.js
  backend/src/models/Booking.js
  backend/src/models/Voucher.js
  backend/src/routes/operator.routes.js
  backend/src/routes/voucher.routes.js
  backend/src/server.js
  backend/src/services/booking.service.js
  backend/src/services/voucher.service.js
Due: eslint --fix, prettier --write

feat(phase-3.5): implement VNPay payment integration with auto-refund
  backend/.env.example
  backend/src/controllers/booking.controller.js
  backend/src/controllers/payment.controller.js
  backend/src/models/Payment.js
  backend/src/routes/operator.routes.js
  backend/src/routes/payment.routes.js
  backend/src/server.js
  backend/src/services/booking.service.js
  backend/src/services/payment.service.js
  backend/src/services/vnpay.service.js
Due: eslint --fix, prettier --write

fix: correct auth middleware import in payment routes
  backend/src/routes/payment.routes.js
Due: eslint --fix, prettier --write

feat(phase-3.6): implement frontend booking flow UI
  backend/package.json
  frontend/src/App.jsx
  frontend/src/components/SeatMapComponent.jsx
  frontend/src/pages/BookingConfirmationPage.jsx
  frontend/src/pages/PassengerInfoPage.jsx
  frontend/src/pages/SearchPage.jsx
  frontend/src/pages/TripDetailPage.jsx
  frontend/src/pages/TripsPage.jsx
  frontend/src/services/bookingApi.js
  frontend/src/store/bookingStore.js
  package-lock.json
Due: eslint --fix, prettier --write

feat(phase-3.7): implement guest booking with OTP verification
  backend/src/controllers/booking.controller.js
  backend/src/controllers/guest.controller.js
  backend/src/middleware/guestAuth.middleware.js
  backend/src/routes/guest.routes.js
  backend/src/server.js
  backend/src/services/guestSession.service.js
  backend/src/services/otp.service.js
  frontend/src/components/GuestOTPModal.jsx
  frontend/src/pages/PassengerInfoPage.jsx
  frontend/src/services/api.js
  frontend/src/services/guestApi.js
Due: eslint --fix, prettier --write

.
  backend/package.json
  docs/PROJECT_PHASES.md
  package-lock.json
Due: prettier --write

feat(phase-4.1): implement digital ticket generation system (UC-7)
  backend/.env.example
  backend/src/config/email.js
  backend/src/controllers/ticket.controller.js
  backend/src/models/Ticket.js
  backend/src/routes/ticket.routes.js
  backend/src/server.js
  backend/src/services/payment.service.js
  backend/src/services/pdf.service.js
  backend/src/services/qr.service.js
  backend/src/services/sms.service.js
  backend/src/services/ticket.service.js
Due: eslint --fix, prettier --write

feat(phase-4.2): implement ticket management APIs (UC-8, UC-27)
  backend/src/controllers/ticket.controller.js
  backend/src/routes/ticket.routes.js
  backend/src/routes/user.routes.js
  backend/src/services/ticket.service.js
Due: eslint --fix, prettier --write

feat(phase-4.3): implement ticket cancellation with refund calculation (UC-9)
  backend/src/config/email.js
  backend/src/controllers/ticket.controller.js
  backend/src/services/booking.service.js
  backend/src/services/cancellation.service.js
  backend/src/services/payment.service.js
  backend/src/services/ticket.service.js
Due: eslint --fix, prettier --write

feat(phase-4.4): implement ticket exchange/change system (UC-10)
  backend/src/config/email.js
  backend/src/controllers/ticket.controller.js
  backend/src/routes/ticket.routes.js
  backend/src/services/ticket.service.js
Due: eslint --fix, prettier --write

feat(phase-4.5): implement trip manager authentication and verification system (UC-18, UC-19, UC-20)
  backend/src/controllers/ticket.controller.js
  backend/src/controllers/tripManager.controller.js
  backend/src/middleware/tripManagerAuth.middleware.js
  backend/src/routes/tripManager.routes.js
  backend/src/server.js
Due: eslint --fix, prettier --write
